header
{
    background-color: #11284d; 
    margin-top: -37px; 
    margin-right: -20px; 
    margin-left: -20px;
    font-family: Arial, Helvetica, sans-serif
}

body
{
    background-color: #42537e;
    font-family: Arial, Helvetica, sans-serif
}

header h1
{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif
}

main section
{
    background-color: #32456e;
    font-family: Arial, Helvetica, sans-serif
}


main section:hover
{   
    text-align: center; 
    border-radius: 20px;
    background-color: #21365d;
    font-size: 25px;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif
}

ul
{
    list-style-type: none;
    background-color: #32456e; 
    font-family: Arial, Helvetica, sans-serif
}

table 
{
    background-color: #32456e;
}

footer section
{    
    margin-right: -20px; 
    margin-left: -20px;
    background-color: #11284d;
    margin-top: -15px;
    margin-bottom: -20px;
}

.texto-negrito {
    font-weight: normal;
    transition: font-weight 0.3s ease;
}

.texto-negrito:hover {
    font-weight: bold;
}

.elemento-com-transicao-opacidade {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.elemento-com-transicao-opacidade:hover {
    opacity: 0.8;
}

.botao {
    background-color: var(--cor-primaria);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #32456e;
}

.elemento-com-translacao {
    transition: transform 0.3s ease;
}

.elemento-com-translacao:hover {
    transform: translateY(-5px);
}

.imagem-com-escala {
    transition: transform 0.3s ease;
}

.imagem-com-escala:hover {
    transform: scale(1.1);
}


